.homeContainer{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

.modalOptions{
    margin-top: 48px;
    flex: 1;
}

.itemsContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 32px;
}

.modalOptions a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #DFEFCA;
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    font-size: 35px;
    text-transform: uppercase;
}

.title{
    font-size: 36px;
    margin-top: 30px;
}